<article class="home__main__section__article animate__animated">
    <div class="home__main__section__article--imagen">
      <img class="home__main__section__article--imagen-product" src="/images/courses/<%= image ? image : 'not-image.png' %>" alt="">
      <img class="home__main__section__article--imagen-sticker" src="/images/<%= sticker %> " alt="">
    </div>
    <div class="home__main__section__article--contenido">
      <h4><%= title %></h4>
      <a href="/courses/detail/<%= id %>">ver más</a>
    </div>
  </article>    